<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
Info.plist
OntarioRail

Created by Bryan de Bourbon on 1/30/24.
Copyright (c) 2024 ___ORGANIZATIONNAME___. All rights reserved.
-->
<plist version="1.0">
  <dict>
    <!-- Add your keys and values here -->
    <key>CFBundleDisplayName</key>
    <string>OntarioRail</string>
    <key>CFBundleIdentifier</key>
    <string>com.bryandebourbon.OntarioRail</string>
    <key>CFBundleIconName</key>
    <string>AppIcon</string>
    <!-- Ensure other necessary Info.plist keys are here -->
  </dict>
</plist>
